body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #ffffff;
}

header {
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

header div {
    font-weight: bold;
}
nav {
    background: #21221e;
    text-align: center;
    padding: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
.frase {
    color: #ffffff;
}

main {
  margin-left: 20px;
  width: calc(100% - 140px);
  display: flex;
  justify-content: center;
  padding: 40px 60px;
}

.container-produtos {
  position: relative;  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  width: 100%;
  max-width: 1600px;
}

.card {
  background-color: #111;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.05);
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 8px 25px rgba(255, 255, 255, 0.15);
}

.info-produto {
  padding: 15px;
  text-align: center;
}

.marca {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
}

.nome {
  color: #aaa;
  font-size: 15px;
  margin: 4px 0;
}

.preco {
  font-weight: bold;
  color: white;
  font-size: 16px;
}


footer {
    background: rgb(24, 26, 22);
    text-align: center;
    padding: 15px;
    font-size: 14px;
    
    .interativa {
  max-width: 400px;
  margin: 40px auto;
  text-align: center;
  font-family: Arial, sans-serif;
    }

    .interativa input {
    padding: 10px;
    width: 80%;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    }

    .interativa p {
    margin-top: 20px;
    font-size: 20px;
    color: #fffbfb;
    }

}